dist: xenial
language: python
python:
  - "3.7"
install:
  - sudo apt update
  - sudo apt install python3-dev python3-pip
  - pip3 install --upgrade pip
  - pip3 install --upgrade --force-reinstall setuptools
  - pip3 install keras
  - pip3 install tensorflow
script:
#  - find /usr -name '*.pyc' -delete
  - python3 model.py
